body {
    background-color: #404040;
}
body * {
    font-size: calc(15px + 1vh);
    margin:0;
    margin-left: 20px;
    margin-right: 20px;
    padding:0;
    color: white;
}

.upperDiv {
    background-color: rgba(0,0,0,0);
    height: auto;
    width: 90%;
    border: none;
    display:flex;
    justify-content: space-between;
    padding:0;
    margin: auto;
    margin-bottom: calc(10px + .5vh);
    padding-bottom: calc(5px + .25vh);
    border-bottom: white solid 1px;
}

.quote {
    float: left;
    background-color: rgba(0,0,0,0);
    border:none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.close {
    border: 0;
    background-color: rgba(0,0,0,0);
}

.close:hover, .quote:hover{
    color: grey;
}

.link{
    margin:0;
    padding:0;
    display: inline-block;
}

.link img{
    width: calc(20px + 0.25vw);
    height: auto;
}

#clear{
    background-color: transparent;
    border: 0;
    color: white;
    margin-bottom: calc(5px + 2vh);
}

#clear:hover{
    color: grey;
}