body {
    background-color: #404040;
}

upperDiv {
    background-color: rgba(0,0,0,0);
    height: 5vh;
    width: 2vw;
}

quote {
    background-color: rgba(0,0,0,0);
    font-size: small;
    width: 4.5vw;
    height: inherit;
}

close {
    background-color: rgba(0,0,0,0);
    width: 0.5vw;
    height: inherit;
}
